section.login, section.signUp, li.navButton, input.search, div.item, section.banner{
    box-shadow: inset 4px 4px 10px rgba(153, 166, 206, 0.3), inset -4px -4px 4px #FFFFFF;
}

li.navButton:hover{
    background-color: black;
    color: white;
    transition: background-color 0.3s;
    box-shadow: inset 4px 4px 10px rgba(255, 255, 255, 0.2), inset -4px -4px 4px #000000;

}

li.navButton a:hover{
    color: white;
}